
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Nunito", serif;
    font-style: normal;

}
body {
    background: rgba(47, 0, 255, 0.2);
    background-image: url(./images/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg), linear-gradient(135deg, rgba(47, 0, 255, 0.2) 0%, rgba(47, 0, 225, 0.2) 100%);
    background-size: cover;
    color: #f8f3ea
}

p {
    font-size: 16px;
}

.navbar {
    justify-content: center;
    justify-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.navbar a {
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
}

.navbar a {
    color: #f8f3ea;
}

.navbar a:active {
    color: rgb(0, 153, 255);
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.home, 
.about,
.projects-page, 
.contact-me {
    text-align: center;
}

.avatar {
    width: 15.5em;
    height: 15.5em;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    width: 10em;
    border-radius: 20px;
    margin: 0.3em;
    padding: 0.6em 0.9em;
    border:rgba(255, 255, 255, 0.2) solid 0.5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #f8f3ea;
}

.projects {
    border-radius: 16px;
    margin: 16px;
    padding: 8px;
    width: 200px;
    height: 225px;
    border:rgb(0, 153, 255) solid 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.contact-me h3 {
    margin-top: 24px;
}

.contact-me a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

@media screen and (max-width: 576px) {
    * {
        text-align: center;
    }
    .container {
        display: grid;
        place-items: center;
        justify-self: center;
        align-self: center;
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
    }
    
    .element {
        width: 80%;
        border-radius: 15px;
        min-height: 100vh;
        margin: auto;
        padding: 16px;
        display: grid;
        grid-template-rows: repeat(6, auto);
        gap: 2px;
        grid-template-areas:
            "nav"
            "main"
            "main"
            "main"
            "main"
            "main";
    background: rgba(0, 153, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);
    position: relative;
    overflow-y: auto;
    }

    header {
        grid-area: nav;
    }
    
    .logos {
        width: 25px;
        height: 25px;
    }

    main,
    .home,
    .button-container,
    .about,
    .projects-page,
    .project-cards,
    .contact {
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button-container {
        padding-top: 24px;
    }
    .skill-section h2 {
        padding-top: 16px;
    }

    .skills {
        padding: 8px;
    }

    .projects {
        align-items: center;
        margin: 16px;
        padding: 8px;
    }
    .contact {
        grid-area: main;
        display: grid;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
            "heading"
            "content"
            "content"
            "content"
            "content";
    }
    
    .heading {
        grid-row: 1/2;
        text-align: center;
        position: top;
        
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    * {
        text-align: center;
    }
    .container {
        display: grid;
        place-items: center;
        justify-self: center;
        align-self: center;
        height: 100vh;
        width: 100%;
    }
    
    .element {
        width: 80%;
        height: 90%;
        border-radius: 15px;
        margin: auto;
        padding: 16px;
        display: grid;
        grid-template-rows: repeat(6, auto);
        gap: 2px;
        grid-template-areas:
            "nav"
            "main"
            "main"
            "main"
            "main"
            "main";
    background: rgba(0, 153, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);
    overflow-y: scroll;
    }
    
    header {
        grid-area: nav;
    }
    
    main {
        grid-area: main;
    }

    .home,
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .button-container {
        padding-top: 24px;
    }

    .about {
        display: grid;
        grid-template-rows: repeat(3, auto);
    }
    
    .heading {
        grid-row: 1/2;
    }
    
    .content {
        grid-row: 2/3;
    }
    
    .skill-section {
        display: grid;
        justify-items: center;
        grid-template-columns: auto auto auto auto;
    }

    .skill-section h2 {
        grid-column: 1/5;
        grid-row: 1/2;
        padding: 20px;
    }
    
    .logos {
        width: 35px;
        height: 35px;
    }
    
    .skills {
        margin: 8px;
        padding-top: 20px;
        grid-row: 2;
        width: 100px;
        border-radius: 15px;
    }

    .project-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

@media screen and (min-width: 993px) {
    * {
        text-align: center;
    }
    p {
        font-size: 18px;
    }
    .container {
        display: grid;
        place-items: center;
        justify-self: center;
        align-self: center;
        height: 100vh;
        width: 80%;
    }

    .element {
        width: 80%;
        height: 80%;
        border-radius: 15px;
        margin: auto;
        padding: 20px;
        display: grid;
        grid-template-rows: 50px 50px 1fr 1fr 1fr 1fr;
        gap: 4px;
        grid-template-areas: 
            "nav"
            "main"
            "main"
            "main"
            "main"
            "main";
        background: rgba(0, 153, 255, 0.7);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);
    }

    header {
        grid-area: nav;
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
            "heading"
            "content"
            "content"
            "content"
            "content";
    }

    .heading {
        grid-row: 1/2;
        text-align: center;
        
    }
    .content,
    .project-cards,
    .contact-me {
        grid-area: content;
    }

    .navbar a:link, 
    .navbar a:visited {
        color:#f8f3ea;
    }

    .navbar a:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
    }

    .navbar a:active,
    .projects a:active {
        color: rgb(0, 153, 255);
        font-style: bold;
    }

    .avatar {
        width: 225px;
        height: 225px;
    }
    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn:hover {
        background-color:rgb(0, 153, 255);
    }

    .about p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .about ul {
        list-style-type: none;
        display: inline-block;
    }

    .skill-section {
        display: grid;
        justify-items: center;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 50px 1fr;
    }

    .skill-section h2 {
        grid-row: 1;
        grid-column: 1 / 5;
        padding: 20px;
    }

    .skills {
        padding-top: 20px;
        grid-row: 2;
        width: 100px;
        border-radius: 15px;
    }

    .skills p,
    .project-cards p {
        padding: 5px;
    }

    .logos {
        width: 50px;
        height: 50px;
    }

    .projects-page {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50px 1fr;
    }

    .project-cards {
        grid-row: 2;
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
    }

    .contact-me {
        display: grid;
        place-items: center;
    }
}